*{
    margin: 0;
    padding:0;
}

body{
    background-color:#0f0f0f;
    text-align: center;
    
}

#heading{
    color:red;
}

.container{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:1.5vmin;
}

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap:1.5vmin;
}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(10,0,0,1.3);
    font-size: 10vmin;
    color:red;
    background-color: #1e1e1e;

}

#reset-btn{
    padding:1rem;
    font-size:1rem;
    background-color: black;
    color:red;
    border-radius:1rem;
    border:solide 2 rem solid white;

}

#new-btn{
    padding:1rem;
    font-size:1rem;
    background-color: black;
    color:red;
    border-radius:1rem;
    border:solide 2 rem solid white;
}

#message{
    color:red;
    font-size: 5vmin;
}

.messageContainer{
    height:100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display:none;
}